body {
  margin: 0;
  padding: 2rem;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: radial-gradient(circle at top left, #eaeaea, #d1d5db, #cbd5e1);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.asistencia {
  width: 100%;
  max-width: 900px;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 10px 0 #000;
}

.asistencia th {
  background-color: #1e3a8a;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
  padding: 1rem;
  font-size: 1rem;
}

.asistencia td {
  padding: 1rem;
  font-size: 0.95rem;
  color: #1f2937;
  border-top: 1px solid #e5e7eb;
  text-align: center;
}

.asistencia tr:nth-child(even):not(.resultado) {
  background-color: #f9fafb;
}

.asistencia tr:hover:not(.resultado):not(:first-child) {
  background-color: #e0e7ff;
}

.asistencia .resultado {
  background-color: #e0f2fe;
  color: #0f172a;
  font-weight: bold;
}

.asistencia .resultado td {
  border-top: 2px solid #cbd5e1;
}

/*Botón reportar algún problema*/
.btn {
  background-color: #0073e6;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.btn:hover {
  background-color: #005bb5;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal textarea{
  width: 100%;
  margin-top: 10px;
}

.modal .destinatario{
  display: flex;
  flex-direction: column;
}

.modal .destinatario input{
  width: 100%;
  border: .5px solid #000;
  border-radius: 5px;
  height: 1.5rem;
  padding-left: 3px;
  margin: -1rem 0 1rem;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px #000;
}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.container-profesor{
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  display: none;
}

/*Botón para regresar*/
.exit-rsp {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 2;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.exit-rsp i {
  color: white;
}

.exit-rsp:hover{
  background-color: #0056b3;

}

@media (max-width: 768px) {
  .asistencia {
    font-size: 0.85rem;
    display: block;
    overflow-x: auto;
  }
}
