body {
  margin: 0;
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: gradient 15s ease infinite;
  background: linear-gradient(
    330deg,
    #1a2d42,
    #aab7b7,
    #c0c8ca,
    #d4d8dd,
    #1a2d42
  );
}

.personal-data {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 580px;
  width: 90%;
}

.personal-data table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.personal-data caption {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1a2a3b;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid #d0d7de;
}

.personal-data th,
.personal-data td {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid #e2e8f0;
  vertical-align: middle;
}

.personal-data th {
  font-weight: 600;
  color: #334155;
  width: 40%;
}

.personal-data td {
  color: #475569;
}

.personal-data .status{
  padding: .5rem 5rem;
  font-size: 16px;
  border-radius: 5px;
  background-color: #e2e8f0;
  color: #000;

}

.personal-data input[type="text"],
.personal-data input[type="date"] {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f1f5f9;
  color: #1e293b;
}

.personal-data input[readonly] {
  background-color: #e2e8f0;
  cursor: not-allowed;
}

.personal-data i.fa-pen {
  margin-left: 0.5rem;
  color: #14b8a6;
  cursor: pointer;
  transition: color 0.3s;
}

.personal-data i.fa-pen:hover {
  color: #0d9488;
}

.submit {
  margin-top: 2rem;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #14b8a6;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #0d9488;
}

/*Botón para regresar*/
.exit-rsp {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 2;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.exit-rsp i {
  color: white;
}

.exit-rsp:hover {
  background-color: #0056b3;
}
