* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-position: center;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  filter: hue-rotate(325deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4rem 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

h2 {
  margin-bottom: 20px;
  color: #2a3d66;
  font-weight: 700;
  text-align: center;
}

.form-control {
  height: 40px;
  background-color: #eef3f7;
  border: 1px solid #cfdce7;
  border-radius: 8px;
  padding: 0 10px;
  color: #2a3d66;
  width: 100%;
  font-size: 15px;
}

.btn {
  background-color: #1c88e5;
  border: none;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  border-radius: 25px;
  margin: 10px 0px 25px;
  font-weight: bold;
  transition: 0.3s;
  font-size: 16px;
  cursor: pointer;
}

.form-label {
  margin-bottom: 20px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.form-control2 {
  margin-bottom: 20px;
  color: #000000;
  font-weight: 300;
  text-align: center;
}

.col-3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input-password {
  position: relative;
}

.input-password i {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #555;
  font-size: 15px;
}

@media (max-width: 450px) {
  .container {
    width: 300px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 0;
  }

  .form-control{
        font-size: 14px;
    height: 36px;
  }
  h2{
    font-size: 1.2rem;
  }
}
